@model AoacControl.Models.ViewModels.InstrumentoFormViewModel

@{
    ViewData["Title"] = "Editar Comunidade";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Instrumento.CreatedAt" value="@DateTime.Now" />
            <input type="hidden" asp-for="Instrumento.UpdatedAt" value="@DateTime.Now" />
            <div class="form-group">
                <label asp-for="Instrumento.Patrimonio" class="control-label"></label>
                <input asp-for="Instrumento.Patrimonio" type="text" class="form-control" />
                <span asp-validation-for="Instrumento.Patrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrumento.Descricao" class="control-label"></label>
                <input asp-for="Instrumento.Descricao" class="form-control" />
                <span asp-validation-for="Instrumento.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrumento.TipoInstrumento" class="control-label">Tipo Instrumento</label>
                <select asp-for="Instrumento.TipoInstrumento" asp-items="Html.GetEnumSelectList<AoacControl.Models.Enums.TipoInstrumento>()" class="form-control">
                    <option disabled selected>Selecionar...</option>
                </select>
                <span asp-validation-for="Instrumento.TipoInstrumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrumento.FonteDoacao" class="control-label">Fonte da Doação</label>
                <select asp-for="Instrumento.FonteDoacao" asp-items="Html.GetEnumSelectList<AoacControl.Models.Enums.FonteDoacao>()" class="form-control">
                    <option disabled selected>Selecionar...</option>
                </select>
                <span asp-validation-for="Instrumento.FonteDoacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrumento.ValorInstrumento" class="control-label"></label>
                <input asp-for="Instrumento.ValorInstrumento" type="text" class="form-control" />
                <span asp-validation-for="Instrumento.ValorInstrumento" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Instrumento.Observacoes" class="control-label"></label>
                <input asp-for="Instrumento.Observacoes" type="text" class="form-control" />
                <span asp-validation-for="Instrumento.Observacoes" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary btn-sm" />
                <a asp-action="Index" class="btn btn-outline-primary btn-sm">Retornar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
