@{
    ViewData["Title"] = "Web Site";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <img class="figure-img" src="~/images/Logo AOAC.jpg" />
    <hr />
    <h1 class="display-4">Somos obra Missionária</h1>
    
</div>
